/*!
 * VisualEditor MediaWiki UserInterface MWSaveDialog styles.
 *
 * @copyright 2011-2020 VisualEditor Team and others; see AUTHORS.txt
 * @license The MIT License (MIT); see LICENSE.txt
 */

.ve-ui-mwSaveDialog-summaryLabel {
	padding: 0.25em 0;
}

.ve-ui-mwSaveDialog-summary {
	width: 100%;
	max-width: none;
	background-color: #fff;
}

.ve-ui-mwSaveDialog-summary textarea {
	height: 4em;
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	resize: vertical;
}

.ve-ui-mwSaveDialog-foot {
	margin: 0.5em 0;
}

.ve-ui-mwSaveDialog-options {
	position: relative;
	background-color: #f8f9fa;
	border: 1px solid #c8ccd1;
	border-top: 0;
	display: none;
}

.ve-ui-mwSaveDialog-withOptions .ve-ui-mwSaveDialog-options {
	display: block;
}

.ve-ui-mwSaveDialog-checkboxes {
	margin-right: 3.25em; /* Hack to prevent overlap on edit summary count */
	padding: 0.7857em 0.7857em 0 0.7857em;
}

.ve-ui-mwSaveDialog-checkboxes > .oo-ui-fieldLayout {
	display: inline-block;
	margin: 0 1.5em 0.5em 0;
	vertical-align: middle;
}

.ve-ui-mwSaveDialog-checkboxes > .oo-ui-fieldLayout:last-child {
	margin-right: 0;
}

.ve-ui-mwSaveDialog-checkboxes-withExpiry > .ve-ui-mwSaveDialog-field-wpMinoredit {
	display: block;
}

.ve-ui-mwSaveDialog-editSummary-count {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border-left: 1px solid #eaecf0;
	line-height: 3em;
	padding: 0 1em;
	color: #54595d;
}

.ve-ui-mwSaveDialog-editSummary-count:empty {
	visibility: hidden;
}

.ve-ui-mwSaveDialog-license {
	font-size: 0.9em;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
	color: #54595d;
}

.ve-ui-mwSaveDialog-messages {
	/* Make a border that spans the whole width of the dialog */
	margin: 1em -1.14285714em;
	padding: 0.5em 1.14285714em;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-width: 1px 0;
}

.ve-ui-mwSaveDialog-messages > .oo-ui-messageWidget {
	font-weight: normal;
}

.ve-ui-mwSaveDialog-messages:empty {
	display: none;
}

.ve-ui-mwSaveDialog-reviewMode {
	float: right;
	margin: 0 0 0 1em;
}

.ve-ui-mwSaveDialog-viewer {
	margin-top: 1em;
	clear: both;
}

.ve-ui-mwSaveDialog-no-changes {
	color: #72777d;
	font-style: italic;
}

.ve-ui-mwSaveDialog-preview .mw-body {
	/* We use mw-body for realistic padding, but we don't need border/margin */
	border: 0;
	/* Override specificity in Monobook */
	/* stylelint-disable-next-line declaration-no-important */
	margin: 0 !important;
}
